.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.403) !important;
}

.ReactModal__Content {
    background-color: rgba(51, 50, 50, 0.962) !important;
    border-radius: 5px;
    padding: 20px;
    width: 50%;
    max-width: 100%;
    margin: 0 auto;
    text-align: center !important;
    align-content: center !important;
    justify-content: center !important;
}

.ReactModal__Content input {
    border: 2px solid rgba(255, 255, 255, 0.1);
}
