.credential {
    margin: 20px;
    background-color: #5055bccc;
    border-radius: 15px;
    padding: 5px 15px;
    text-align: start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.credential p {
    font-weight: bold;
    font-size: 1.3em;
}